<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

   <!-- 1. Ajout du scan des composants (utilisation des beans par annotation) -->
   <!-- Pour rappel, on renseigne le package contenant nos POJO comportant l'annotation @Component -->
   <context:component-scan base-package="com.ii02735.springdemo"/>

   <!-- 2. Activer les fonctionnalités de validation, de conversion ou de formattage de données -->
   <mvc:annotation-driven/>

   <!-- 3. Activer la résolution de vues -->
   <bean class="org.springframework.web.servlet.view.InternalResourceResolver">
      <!-- On précise l'endroit où aller chercher les fichiers de vue -->
      <property name="prefix" value="/WEB-INF/view/" />
      <!-- On précise l'extension des fichiers à ajouter -->
      <property name="suffix" value=".jsp" />
   </bean>
</beans>